{% if gifs %}
    {% for gif in gifs %}
        <div class="row">
            <div class="span9 well offset1">
                <div class="row offset1">
                    <div class="span5">
                        <a href="/data/{{gif}}"><img src="/data/{{gif}}" class="img-rounded"></img></a>
                    </div> <!-- end of span5 -->
                    <div class="span4 offset1">
                        <form action="" method="post">
                            <input type="hidden" name="gif" value="{{gif}}"> 
                            <input name="tagname" type="text" placeholder="Type a tag name..." class="input-medium">
                            <label class="checkbox">
                                <i class="icon-warning-sign"></i><input name="flag" type="checkbox"> Flag as inappropriate</input>
                            </label>
                            <button type="submit" class="btn">Save</button>
                        </form>
                        {% if gif_meta %}
                        <div>
                            {{ gif_meta[gif] }}
                        </div>
                        {% endif %}
                        <div>
                            {% if gif_tags %}
                                {% if gif_tags[gif] %}
                                    {% for tag in gif_tags[gif] %}
                                    <div "row">
                                        <form action="" method="post">
                                            <input type="hidden" name="gif" value="{{gif}}">
                                            <input type="hidden" name="gif_tag" value="{{tag}}">
                                            <button type="submit" class="close">&times;</button>
                                            <a href="/tags/{{tag}}">{{tag}}</a>
                                        </form>
                                    </div><!-- end row -->
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div><!-- tags div -->
                    </div> <!-- end of span4 -->
                </div> <!-- end of row -->
            </div> <!-- end span9 -->
        </div> <!-- end row -->
    {% endfor %}
{% endif %}
