{% extends 'base.html' %}
{% block main_content %}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span2 well" align="center">
                {% include 'tag_block.html' %}
            </div> <!-- end span 2 -->
            <div class="span10">
                {% include 'pagination.html' %}
                {% include 'gif_block.html' %}
                {% include 'pagination.html' %}
                {% include 'add_block.html' %}
            </div> <!-- end span 10 -->
        </div> <!-- end row -->
    </div>  <!-- end span 12 -->
</div> <!-- end row -->

{% endblock %}
