{% extends 'base.html' %}
{% block main_content %}

{% if gifs %}
    <div class="pagination">
        <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </div> <!-- end pagination -->

    {% if tags %}
        <h4>Tags</h4>
        <div class="row">
            <div class="span9 well">
                {% for tag in tags %}
                    <div class="span1">
                        <a href="tags/{{tag}}">{{tag}}</a>
                    </div> <!-- span1 -->
                {% endfor %}
            </div> <!-- end span9 -->
        </div> <!-- end row -->
    {% endif %}

    {% for gif in gifs %}
        <div class="row">
            <div class="span9 well">
                <div class="row">
                    <div class="span5">
                        <a href="data/{{gif}}"><img src="data/{{gif}}" class="img-rounded"></img></a>
                    </div> <!-- end of span5 -->
                    <div class="span4">
                        <form action="" method="post">
                            <input type="hidden" name="gif" value="{{gif}}"> 
                            <input name="tagname" type="text" placeholder="Type a tag name..." class="input-medium">
                            <label class="checkbox">
                                <i class="icon-warning-sign"></i><input name="flag" type="checkbox"> Flag as inappropriate</input>
                            </label>
                            <button type="submit" class="btn">Save</button>
                        </form>
                        <div class="well">
                            {% if gif_tags[gif] %}
                                {% for tag in gif_tags[gif] %}
                                <div class="span1">
                                    <a href="/tags/{{tag}}">{{tag}}</a>
                                </div><!-- end span1 -->
                                {% endfor %}
                            {% endif %}
                            <p>
                                <!-- Put tags here -->
                            </p>
                        </div><!-- tags div -->
                    </div> <!-- end of span4 -->
                </div> <!-- end of row -->
            </div> <!-- end span9 -->
        </div> <!-- end row -->
    {% endfor %}

{% endif %}
{% endblock %}
